.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: red;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: large;
  color: white;
  border-radius: 15px;
}

.button:hover {
  background-color: rgb(227, 189, 189);
}
