.container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 580px;
  top: 50%;
  left: 50%;
  background-color: whitesmoke;
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -40%);
  border-radius: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.exit {
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

.top {
  display: flex;
}

.bulletPoints {
}

.bottom {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.removeLoyalty {
  background-color: red;
  height: 100%;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.removeLoyaltyText {
  color: white;
  font-size: 2em;
}

.addToCartButton {
  cursor: pointer;
  background-color: green;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
